@media (min-width: 700px) {
	header,
	main,
	footer {
		padding-left: 2rem;
		padding-right: 2rem;
	}

	#menu {
		display: none;
	}

	nav {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		margin-top: 0.5rem;
	}

	nav a {
		padding: 0.5rem 0.75rem;
	}

	main {
		padding-bottom: 4rem;
	}

	#temple-album {
		gap: 1.5rem;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	figure img {
		height: 13rem;
	}
}
